body, #root, html{
    background:#1b232d;
}

.full{
    height: 100vh;
    width: 100vw;
}

*{
    outline: none !important;
    font-family: 'Montserrat', sans-serif;

}


.pad{
    margin-top: 2.5em;
}